 header {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.carousel-item img {
    width: 100%;
    height: 60vh;
    max-height: 800px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 40vh;
    }
}
.carousel-caption h1 {
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    border-radius: 8px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.grid-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.grid-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.grid-card p {
    text-align: center;
    padding: 12px;
    font-weight: bold;
}
.grid-card:hover {
    transform: scale(1.03);
}
.subscribe-section {
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    background: black;
    color: white;
}
.subscribe-section button {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 8px;
}
.main-footer {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
    background: #000;
    color: white;
}
